In [69]:
pip install geopandas

Requirement already satisfied: geopandas in /usr/local/lib/python3.7/dist-packages (0.10.2)
Requirement already satisfied: fiona>=1.8 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.20)
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.1.5)
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.0)
Requirement already satisfied: pyproj>=2.2.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (3.2.1)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: munch in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.2.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2021.10.8)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2.8.2)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2018.9)

In [70]:
import pandas as pd
import numpy as np
import math
import geopandas
import json

In [71]:
#Reading the geojson files containing the Geometry Data
geo = geopandas.read_file('https://raw.githubusercontent.com/ujwalgurung1/ujwalgurung1.github.io/main/project/data/UKBoundaries.geojson')
geo

     OBJECTID  ...                                           geometry
0           1  ...  MULTIPOLYGON (((-1.24224 54.72297, -1.24194 54...
1           2  ...  MULTIPOLYGON (((-1.19860 54.58287, -1.16664 54...
2           3  ...  MULTIPOLYGON (((-0.79189 54.55824, -0.80042 54...
3           4  ...  MULTIPOLYGON (((-1.19319 54.62905, -1.20018 54...
4           5  ...  MULTIPOLYGON (((-1.43836 54.59508, -1.42333 54...
..        ...  ...                                                ...
374       375  ...  MULTIPOLYGON (((-2.95891 51.62878, -2.98933 51...
375       376  ...  MULTIPOLYGON (((-2.65040 51.82612, -2.66087 51...
376       377  ...  MULTIPOLYGON (((-2.82220 51.55392, -2.86658 51...
377       378  ...  MULTIPOLYGON (((-3.14750 52.89017, -3.13552 52...
378       379  ...  MULTIPOLYGON (((-3.33447 51.79040, -3.32905 51...

[379 rows x 11 columns]

In [72]:
#Cleaning: Keeping only the relevant columns 
geo = geo.rename(columns={"LAD20NM": "Region Name", "LAD20CD": "Area Code" })
geo = geo.drop(['LAD20NMW', 'OBJECTID'], axis=1)
geo

     Area Code  ...                                           geometry
0    E06000001  ...  MULTIPOLYGON (((-1.24224 54.72297, -1.24194 54...
1    E06000002  ...  MULTIPOLYGON (((-1.19860 54.58287, -1.16664 54...
2    E06000003  ...  MULTIPOLYGON (((-0.79189 54.55824, -0.80042 54...
3    E06000004  ...  MULTIPOLYGON (((-1.19319 54.62905, -1.20018 54...
4    E06000005  ...  MULTIPOLYGON (((-1.43836 54.59508, -1.42333 54...
..         ...  ...                                                ...
374  W06000020  ...  MULTIPOLYGON (((-2.95891 51.62878, -2.98933 51...
375  W06000021  ...  MULTIPOLYGON (((-2.65040 51.82612, -2.66087 51...
376  W06000022  ...  MULTIPOLYGON (((-2.82220 51.55392, -2.86658 51...
377  W06000023  ...  MULTIPOLYGON (((-3.14750 52.89017, -3.13552 52...
378  W06000024  ...  MULTIPOLYGON (((-3.33447 51.79040, -3.32905 51...

[379 rows x 9 columns]

In [73]:
#Caling the UK Land registry "API" for the price history
prices_data = pd.read_csv('http://publicdata.landregistry.gov.uk/market-trend-data/house-price-index-data/Average-prices-2021-10.csv?utm_medium=GOV.UK&utm_source=datadownload&utm_campaign=average_price&utm_term=9.30_15_12_21')

In [74]:
#Keeping only the relevant date
prices_data = prices_data[prices_data['Date'].str.contains("2021-10-01")]
#Cleaning data from "API"
prices_data = prices_data.rename(columns={"Region_Name": "Region Name", "Area_Code": "Area Code" })
prices_data = prices_data.drop(['Monthly_Change', 'Annual_Change', 'Average_Price_SA','Average_Price_SA', 'Date'], axis=1)
prices_data['Average_Price'] = prices_data['Average_Price'].astype(float)
prices_data['Average_Price'] = prices_data['Average_Price'].apply(np.ceil) 
prices_data

                  Region Name  Area Code  Average_Price
133566                England  E92000001       285114.0
133567       Northern Ireland  N92000001       159109.0
133568                  Wales  W92000004       203224.0
133569               Scotland  S92000003       181392.0
133570           Inner London  E13000001       602501.0
...                       ...        ...            ...
133982  South Gloucestershire  E06000025       326397.0
133983       City of Plymouth  E06000026       204631.0
133984      England and Wales  K04000001       280701.0
133985          Great Britain  K03000001       271512.0
133986         United Kingdom  K02000001       268350.0

[421 rows x 3 columns]

In [75]:
#Merging Geojson and Price data based on "Area Code"
merged = pd.merge(geo, prices_data, on='Area Code', how='left')
#Cleaning the data - renaming columns and dropping irrelevant columns
merged = merged.drop(['Area Code', 'Region Name_y', 'BNG_E', 'BNG_N', 'LONG', 'LAT', 'SHAPE_Length', 'SHAPE_Area'], axis=1)
merged = merged.rename(columns={"Region Name_y": "Region Name", "Average_Price": "Average Price (£)", "Region Name_x": "Region Name",})
merged

              Region Name  ... Average Price (£)
0              Hartlepool  ...          134659.0
1           Middlesbrough  ...          132815.0
2    Redcar and Cleveland  ...          141096.0
3        Stockton-on-Tees  ...          148789.0
4              Darlington  ...          146919.0
..                    ...  ...               ...
374               Torfaen  ...          182971.0
375         Monmouthshire  ...          324841.0
376               Newport  ...          212366.0
377                 Powys  ...          215528.0
378        Merthyr Tydfil  ...          138102.0

[379 rows x 3 columns]

In [77]:
#Exporting the final file ready for Keplar
merged.to_file("UKHousePrices.geojson")